<div class="footer">
    <div class="footer__logo-box">
        <!-- <img src="../../assets/img/mian_withoutBack.png" alt="" class="footer__logo"> -->
        
    </div>

    <div class="row">
        <div class="col-1-of-2">

            <div class="footer__navigation">
                <h3 class="footer__title">School of Wolf</h3>
                <ul class="footer__list">
                    <li class="footer__item"><a class="footer__link" routerLink= "">Home</a></li>
                    <li class="footer__item"><a class="footer__link" routerLink= "/awards">Trophy</a></li>
                    <li class="footer__item"><a class="footer__link" routerLink= "/players">Player</a></li>
                    <li class="footer__item"><a href="https://www.facebook.com/groups/121505188187549" target="_blank" class="footer__link">Community</a></li>
                    <li class="footer__item"><a href="https://www.facebook.com/Schoolofwolf" target="_blank" class="footer__link">Page</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <h3 class="footer__title"><a class="footer__link" href="https://www.facebook.com/Schoolofwolf">Find Us in Facebook</a></h3>

            <div class="footer__copyright">
                Built by <span class="footer__link">Ifrat Mitul</span> for FIFA Pro Club School of Wolf.
                Copyright &copy; By Ifrat Mitul & School of Wolf. It's not a public property, register to SOW.
            </div>
        </div>
    </div>

</div>