.player-container {
  padding: 6rem 20rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: -3rem;
}

.founder-container {
  //  padding: 6rem 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.u-centered-text {
  text-align: center;
  margin-bottom: -2rem;
}

.player-header {
  padding: 2rem 0;
  .heading-secondary {
    font-size: 3.5rem;
    color: transparent;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    background-image: linear-gradient(
      to right,
      rgba(6, 63, 156, 1),
      rgba(217, 197, 17, 0.6)
    );

    -webkit-background-clip: text;
    transition: all 0.2s;

    &:hover {
      transform: skewY(2deg);
      text-shadow: 0.5rem 1rem 2rem rgba($color: #000000, $alpha: 1);
    }

    @media (max-width: 651px) {
      font-size: 3rem;
      letter-spacing: 0.6rem;
    }
  }

  .player-para {
    color: gray;
    font-size: 1.1rem;
    text-align: center;
    @media (max-width: 800px) {
      //fontsize: 0.5rem;
      margin: 0 1rem;

      text-align: justify;
    }
  }
}

@media (max-width: 800px) {
  // width: 100% !important;
  .player-container {
    padding: 0;

    //margin: 0 5rem;
  }

  .founder-container {
    // padding: 0 2rem;
    // align-items: center;
    // text-align: center;
  }
  // .heading-secondary {
  //   font-size: 2.2rem;
  //   letter-spacing: 0.7rem;
  // }
}
