
<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Our Players
        </h2>
        <p class="player-para">
        Our players are heart & soul of this club. Our team contains few of the best player in their position in <a class="a__link" href="">Bangladesh Pro Club Community</a>.
       
        </p>
        <p class="player-para"> We are always looking for new player for our club, if you have the quality to play alongside legends of the community feel free to contact us <a href="" class="a__link">here</a></p>
</div>
</section>

<section class="player-container row">


    
    <span *ngFor="let item of playerList" class="col-1-of-3">
        <app-player-item [player] = "item" ></app-player-item>

    </span>
    
    <!-- <ul><li *ngFor="let item of playerList">{{item.name}}</li></ul> -->
</section>



<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Founding Members
        </h2>
       
</div>
</section>


<section class="player-container row">


    
    <span *ngFor="let item of foundingMember"  class="col-2-of-4">
        <app-fouders [founders] = "item"></app-fouders>

    </span>
    
    <!-- <ul><li *ngFor="let item of playerList">{{item.name}}</li></ul> -->
</section>


