<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Top tournaments
        </h2>
        <p class="player-para">
            We play almost all top League/Tournaments hosted by <a class="a__link" href="https://www.facebook.com/groups/121505188187549" target="_blank">Bangladesh Pro Club Community</a>. Most notable mention would be VPG Bangladesh Pro league, VPG Asian Champions League & VPG Asian Pro League.
       
        </p>

       
    </div>
    <div class="img-box">

        <img src="../../assets/img/acl.png" alt="">
        <img src="../../assets/img/asia pro league.png" alt="">
        <img src="../../assets/img/bangladesh flag.png" alt="">

    </div>
</section>


<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Individual Player Awards 
        </h2>
        <p class="player-para">
          
        As our team is filled with excellent players, some of them managed to win few individual trophies for them.
        Winning individual awards is great but at the end of the day its all about the team.  
       
        </p>
        <p class="player-para">
          
[Note: All these awards are awarded by the Tournament Organizers]
           
            </p>

       
    </div>
</section>

<section class="player-container row">


    
    <span *ngFor="let item of awards" class=" col-1-of-3">
        <app-award-list [aw] = "item" ></app-award-list>

    </span>
    
    <!-- <ul><li *ngFor="let item of playerList">{{item.name}}</li></ul> -->
</section>


<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Team Achievements
        </h2>
        <p class="player-para">
          
            Its not possible to win every tournament we play but our playing style reflects quality & consistency. 
            Most notable team achievements 365 Present League Cup & Runners up of VPG BD S1.
       
        </p>

       
    </div>
</section>

<section class="player-container row">


    
    <span *ngFor="let item of achv" class="col-1-of-3">
        <app-award-list [aw] = "item" ></app-award-list>

    </span>
    
    <!-- <ul><li *ngFor="let item of playerList">{{item.name}}</li></ul> -->
</section>

