<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Top tournaments
        </h2>
        <p class="player-para">
            We play almost all top League/Tournaments hosted by <a class="a__link" href="">Bangladesh Pro Club Community</a>. Most notable mention would be VPG Bangladesh Pro league, VPG Asian Champions League, VPG Asian Pro League & VPG.
       
        </p>

       
    </div>
    <div class="img-box">

        <img src="../../assets/img/acl.png" alt="">
        <img src="../../assets/img/asia pro league.png" alt="">
        <img src="../../assets/img/bangladesh flag.png" alt="">

    </div>
</section>

<!-- <section class="player-container row">


    
    <span *ngFor="let item of playerList" class="col-1-of-3">
        <app-player-item [player] = "item" ></app-player-item>

    </span>
    

</section> -->


<section class="player-header">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            Individual Player Awards 
        </h2>
        <p class="player-para">
          
        As our team is filled with excellent players, some of them managed to win few individual trophies for them.
        Winning individual awards is great but at the end of the day its all about the team.  
       
        </p>

       
    </div>
</section>
