/* You can add global styles to this file, and also import other style files */

html {
  font-size: 62.5%; //1 rem = 10/16
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  line-height: 1.7;
}
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
//horizontal 6rem
.row {
  max-width: 114rem;

  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: 6rem;
      @media (min-width: 800px) {
        margin-right: 0;
      }
    }

    @media (max-width: 800px) {
      width: 100% !important;
    }
  }
  .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
  }

  .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
  }
  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
  }
}

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-black: #0a0a09;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$color-grey-light-1: #f7f7f7;
$color-white: white;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-blue: #2998ff;
$color-blue-dark: #5643fa;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-dark-gray: #999;

//$shadow: rgba($color-black, 0.15rem);
//$shadow-big: 0 2rem 4rem rgba($color-black, 0.15rem);

//fontsizes
$border-radius-size: 3px;
$default-font-size: 1.5rem;
