<main class="hbody">
<!-- <div class="logo-box">
    <img src="../../assets/img/log-back.png" alt="logo" class="logo">
</div> -->

<div class="text-box">
    <h1 class="heading-primary">
        <span class="heading-primary-main">School of Wolf</span>
        <span class="heading-primary-sub">Where legends play!</span>
    </h1>
</div>

</main>

<section class="section-about">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            About Us
        </h2>
    </div>
<div class="about-container">
    <div class="row">
        <div class="col-1-of-2">
            <h3 class="heading-tertiary">Story</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Recusandae laborum rerum nulla obcaecati iste nesciunt nam veniam. Quis ducimus, 
                consectetur similique maiores veniam cupiditate, asperiores, laudantium cumque quidem quasi aperiam?</p>
                <h3 class="heading-tertiary">Competitive Journey</h3>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Recusandae laborum rerum nulla obcaecati iste nesciunt nam veniam. Quis ducimus, 
                    consectetur similique maiores veniam cupiditate, asperiores, laudantium cumque quidem quasi aperiam?
            </p>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                <img src="../../assets/img/mian_withoutBack.png" alt="" class="composition-photo composition-photo-1">
                <img src="../../assets//img/cups-won-21 (1).png" alt="" class="composition-photo composition-photo-2">
                <img src="../../assets/img/acl.png" alt="" class="composition-photo composition-photo-3">
            </div>
        </div>
    </div>
    
</div>





</section>

