<main class="hbody">
<!-- <div class="logo-box">
    <img src="../../assets/img/log-back.png" alt="logo" class="logo">
</div> -->

<div class="text-box">
    <h1 class="heading-primary">
        <span class="heading-primary-main">School of Wolf</span>
        <span class="heading-primary-sub">Where legends play!</span>
        <span class="heading-primary-sub">2017 - 2021</span>
    </h1>
</div>

</main>

<section class="section-about">
    <div class="u-centered-text">
        <h2 class="heading-secondary">
            About us
        </h2>
        <p class="player-para">
         This website is dedicated to everyone who wasted their time with us.    
         As life goes on, someday this website will remind us once we all had fun together.
           
        </p>
       
    </div>
<div class="about-container">
    <div class="row">
        <div class="col-1-of-2">
            <h3 class="heading-tertiary">Story</h3>
            <p class="paragraph">{{story}}</p>
                <h3 class="heading-tertiary">Competitive Journey</h3>
            <p class="paragraph">
                {{comJ}} See more about all the <a routerLink="/players" class="a__link">Players </a>
                who played with us in every tournament we played & the <a routerLink="/awards" class="a__link">Awards</a> we were awarded.
            </p>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                <img src="../../assets/img/mian_withoutBack.png" alt="" class="composition-photo composition-photo-1">
                <img src="../../assets//img/cups-won-21 (1).png" alt="" class="composition-photo composition-photo-2">
                <img src="../../assets/img/acl.png" alt="" class="composition-photo composition-photo-3">
            </div>
        </div>
    </div>
    
</div>





</section>

